body {
  background-color: black;
  font-family: 'Verdana';
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-weight: normal;
  font-size: 21px;
  color: gray;
}


a:link {
  color: aquamarine;
  font-size: 16px;
}